<form method="post" action="{{ path('article_delete', {'id': article.id}) }}" onsubmit="return confirm('Vous êtes sur le point de supprimer cet article ! Confirmez-vous ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ article.id) }}">
    <button class="btn btn-sm btn-primary  mb-3 mt-2">Supprimer</button>
</form>
